.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 25%;
  padding: 1rem;
}
.chip-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 15%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
.skills-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.skill-wrapper {
  display: flex;
  gap: 10px;
}
.skill-title {
  font-weight: bold;
}
